<!-- Wir laden das base.html Template und können dann die berreiche überschreiben, die wir wollen-->
{% extends "base.html" %}
<!-- Der Block "title" wird überschrieben -->
{% block title %}Home{% endblock %}

<!-- Der Block "content" wird überschrieben -->
{% block content %}

<!-- Zeige alle Notizen, die der Nutzer erstellt hat -->
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <!-- Button um eine Notiz zu löschen-->
    <!-- ruft die Javaskript funktion delete Note-->
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<!-- Button um neue Notizen hinzuzufügen-->
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" name="note_button" class="btn btn-primary">Add Note</button>
  </div>
</form>

<!--Alle Charakternamen und deren Splitter-->
<h1 align="center">Charaktere</h1>
<ul id="characters">
  {% for character in user.charakters %}
  <li>
    <h3>Name:</h3>
    {{ character.name }}
    <h3>Splitter:</h3>
    {{ str(character.splitter) }}
  </li>
  {% endfor %}
</ul>

<!--Charakter hinzufügen-->
<form method="POST">
  <h3>Charakter hinzufügen</h3>
  <div>
    <label for="character_name">Name</label>
    <input type="text" id="character_name" placeholder="Boblin der Goblin" />
  </div>
  <div>
    <label for="splitter">Splitter</label>
    <input type="number" id="splitter" placeholder="Anzahl" />
  </div>
  <br />
  <button type="submit" class="btn btn-secondary">Hinzufügen</button>
</form>

{% endblock %}
